@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  list-style-type: none;
  text-decoration: none;
}
body {
  background: #222f3e;
  min-height: 100vh;
  width: 100%;
  font-family: "Nunito", sans-serif;
}
img {
  max-width: 100%;
}

nav {
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem 5rem;
  margin-top: 1rem;
}
nav .logo {
  /* border: 1px solid green; */
  display: flex;
  flex: 0.16;
  width: 10rem;
  align-items: center;
  justify-content: space-around;
}
nav .logo .menu {
  width: 2rem;
}
nav .logo .logoi {
  width: 9rem;
}

nav ul {
  /* border: 1px solid #fff; */
  flex: 0.6;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
nav ul li {
  display: inline-block;
  margin: 0 2rem;
  padding: 0.4rem 0;
}
nav ul li a {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 550;
}
nav button {
  background: #fff;
  height: 2rem;
  width: 4.5rem;
  /* padding: 1rem 2.5rem; */
  border-radius: 1rem;
  margin-top: -5px;
  outline: none;
  border: none;
}
nav button:active {
  transform: scale(0.95);
}
nav button span {
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #1dd1a1;
  margin-left: 0.2rem;
}
nav button.activebtn {
  background: #1dd1a1;
}
nav button span.activespan {
  background: #fff;
  margin-left: 2.4rem;
}

/* /--------------------- container-------------- */

.container {
  /* border: 1px solid red; */
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.container .Discription {
  /* border: 1px solid red; */
  flex: 0.5;
  padding: 2rem;
  text-align: left;
}
.container .Discription h1 {
  /* border: 1px solid red; */
  color: aliceblue;
  font-size: 5rem;
  width: fit-content;
  margin-bottom: 0.5rem;
}
.container .Discription p {
  /* border: 1px solid#fff; */
  min-width: 4px;
  text-align: justify;
  width: 42rem;

  color: aliceblue;
  margin-bottom: 3rem;
}
.container .Discription .homebtn {
  margin-top: 1rem;
  /* border: 1px solid#fff; */
  background: #1dd1a1;
  color: #fff;
  padding: 1.2rem;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: 450;
}

.container .lighting .lamp {
  position: absolute;
  left: 15rem;
  top: -8rem;
  width: 15rem;
  z-index: 1;
}
.container .lighting .light {
  position: absolute;
  left: 2rem;
  top: 18rem;
  width: 40rem;
}
