@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  text-transform: capitalize;
}
:root {
  --body-color: #0a0f1d;
  --secondColor: #75729e;
  --white-color: #fff;
  --hover-frist: #5b597a;
  --background-color: #171d2d;
  --text-color: #8687c6;
  --text-color2: #c0c1e9;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

body {
  font-family: "Poppins", "sans-serif";
  width: 100%;
  min-height: 100vh;
  background: var(--body-color);
}
/* /*******************  Header ***************** */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  /* border: 1px solid #fff; */
  padding: 2rem 0;
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  width: 60%;
  margin: auto;
}
.header nav h2 {
  color: var(--secondColor);
  font-weight: 600;
  transition: 0.4s;
}
.header nav h2:hover {
  color: var(--hover-frist);
}
.header nav .icon {
  font-size: 1.5rem;
  color: var(--white-color);
}

.header nav .navMenu {
  position: fixed;
  bottom: 6rem;
  left: 40%;
  background: var(--background-color);
  padding: 1rem 2.25rem;
  border-radius: 4rem;
  backdrop-filter: blur(10px);
  width: 20%;
}
.header nav .navMenu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header nav .navMenu ul li {
  display: inline-block;
}

.header nav .navMenu ul li a {
  color: var(--text-color);
  font-size: 2rem;
  margin: auto;
  padding: 0.8rem;
  border-radius: 40%;
  height: 100%;
  width: 100%;
  text-align: center;
}
.activeLink {
  background: linear-gradient(347deg, #d8d8e5, #fff);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.home {
  /* border: 1px solid #fff; */
  position: relative;
}
.home .homeContainer {
  /* border: 1px solid red; */
  width: 50%;
  margin: auto;
  height: 99vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  color: var(--white-color);
  gap: 5rem;
}
.home .homeContainer .text {
  text-align: center;
  margin-bottom: 5rem;
  /* border: 1px solid #fff; */
}
.home .homeContainer .text small {
  font-size: 13px;
  margin-bottom: 1rem;
  color: var(--text-color2);
}
.home .homeContainer .text h1 {
  font-size: 4rem;
  font-weight: 450;
}
.home .homeContainer .text p {
  color: var(--text-color);
  font-size: 1.2rem;
  letter-spacing: 3px;
}
.home .homeContainer .button {
  /* margin-bottom: 18rem; */
}
.home .homeContainer .disCrip {
}
.home .homeContainer .button a {
  padding: 10px;
  font-size: 1.7rem;
  background: var(--text-color2);
  color: var(--body-color);
  margin-left: 2rem;
  border-radius: 0.5rem;
  font-weight: 500;
}
.home .homeContainer .myPic {
  /* border: 1px solid red; */
  width: 40%;
}
.home .homeContainer .myPic img {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home .socilLinks {
  position: absolute;
  /* border: 1px solid red; */
  left: 30rem;
  bottom: 6.5rem;
}
.home .socilLinks a {
  display: block;
  color: var(--text-color2);
  font-size: 1.9rem;
  height: 30px;
  width: 30px;
  padding: 0.5rem;
  background: var(--background-color);
  margin: 5px 0;
  text-align: center;
  transition: all 0.4s ease;
}
.home .socilLinks a:hover {
  background: var(--text-color2);
  color: var(--white-color);
}
/***********************About*********************/
.about {
  padding: 5rem 10rem;
}
.about .about_heading {
  /* border: 1px solid red; */
}
.about .about_heading .intro {
  width: fit-content;
  margin: auto;
  text-align: center;
}
.about .about_heading .intro small {
  color: var(--text-color2);
  font-size: 14px;
  margin-bottom: 1.5rem;
  color: var(--secondColor);
}

.about .about_heading .intro h2 {
  font-size: 2.5rem;
  font-weight: 450;
  color: var(--text-color2);
}
.about .about_container {
  /* border: 1px solid #fff; */
  width: 90%;
  height: 60vh;
  display: flex;
  align-items: center;
  gap: 15rem;
  justify-content: center;
  margin: auto;
  padding-left: 10rem;
}
.about .about_container .image_side {
  width: 35rem;
}
.about .about_container .image_side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
}

.about .about_container .discrip_side {
  /* border: 1px solid red; */
  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
  flex-flow: column;
  width: 50%;

  /* padding: 2rem 0; */
  height: 35rem;
}
.about .about_container .discrip_side .boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
}
.about .about_container .discrip_side .boxes .box {
  width: 13rem;
  height: 8.5rem;
  /* border: 1px solid yellow; */
  padding: 1rem;
  display: block;
  text-align: center;
  background-color: var(--background-color);
  border-radius: 10px;
}
.about .about_container .discrip_side .boxes .box .icon {
  color: var(--text-color2);
  font-size: 2rem;
}
.about .about_container .discrip_side .boxes .box .discrip h3 {
  font-size: 1.4rem;
  font-weight: 450;
  margin-bottom: 0.3rem;
  color: var(--white-color);
}
.about .about_container .discrip_side .boxes .box .discrip p {
  color: var(--secondColor);
  font-size: 1rem;
}
.about .about_container .discrip_side .discrip_line {
  /* border: 1px solid green; */
  width: 70%;
  margin-bottom: 7rem;
}
.about .about_container .discrip_side .discrip_line p {
  font-size: 1.7rem;
  color: var(--text-color);
  line-height: 2.9rem;
  font-weight: 300;
  text-transform: capitalize;
}
.about .about_container .discrip_side .btn a {
  padding: 10px;
  font-size: 1.7rem;
  background: var(--text-color);
  color: var(--body-color);
  border-radius: 0.5rem;
  font-weight: 500;
  display: inline-block;
}
/* /***************************SKILL***************** */
.skill {
  padding: 5rem 10rem;
}
.skill .skill_heading {
  /* border: 1px solid red; */
}
.skill .skill_heading .intro {
  width: fit-content;
  margin: auto;
  text-align: center;
}
.skill .skill_heading .intro small {
  color: var(--text-color2);
  font-size: 14px;
  margin-bottom: 1.5rem;
  color: var(--secondColor);
}

.skill .skill_heading .intro h2 {
  font-size: 2.5rem;
  font-weight: 450;
  color: var(--text-color2);
}
.skill .skill_container {
  /* border: 1px solid #fff; */
  width: 70%;
  height: 60vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5rem;
}
.skill .skill_container .sideBox {
  /* border: 1px solid #fff; */
  width: 35rem;
  height: 22rem;
  display: flex;
  padding: 0 2rem;
  flex-flow: column;
  flex-wrap: wrap;
  color: var(--white-color);
  background-color: var(--background-color);
  border-radius: 1.5rem;
  /* margin: auto; */
  overflow: hidden;
}
.skill .skill_container .sideBox .heading {
  /* border: 1px solid green; */
  width: 100%;
  text-align: center;
  padding: 1rem;
}
.skill .skill_container .sideBox .heading h2 {
  color: var(--text-color);
  font-weight: 450;
}
.skill .skill_container .sideBox .boxContainer {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-items: flex-start;
  /* border: 1px solid red; */
  width: 100%;
  height: 17rem;
  padding: 1rem 0;
  gap: 1rem;
}
.skill .skill_container .sideBox .box {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}
.skill .skill_container .sideBox .box span {
  color: var(--text-color);
  font-size: 1.3rem;
}
.skill .skill_container .sideBox .box .info h2 {
  font-size: 1.5rem;
  font-weight: 450;
  color: var(--white-color);
}
.skill .skill_container .sideBox .box .info small {
  color: var(--text-color);
  font-size: 9px;
}

/*********************service*************/
.service {
  padding: 5rem 10rem;
  position: relative;
}
.service .service_heading .intro {
  width: fit-content;
  margin: auto;
  text-align: center;
  margin-bottom: 7rem;
}
.service .service_heading .intro small {
  color: var(--text-color2);
  font-size: 14px;
  margin-bottom: 1.5rem;
  color: var(--secondColor);
}

.service .service_heading .intro h2 {
  font-size: 2.5rem;
  font-weight: 450;
  color: var(--text-color2);
}
.service .section_container {
  /* border: 1px solid red; */
  width: 70%;
  height: 30vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.service .section_container .servivcebox {
  /* border: 1px solid green; */
  height: 80%;
  width: 20%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column;
  padding: 5rem 2rem 2rem 2rem;
  row-gap: 5rem;
  background: var(--background-color);
  border-radius: 1.5rem;
}
.service .section_container .servivcebox h1 {
  /* border: 1px solid red; */
  width: 65%;
  color: var(--white-color);
  font-size: 2rem;
  font-weight: 500;
}
.service .section_container .servivcebox .more {
  text-align: center;
  /* border: 1px solid blue; */
}
.service .section_container .servivcebox .more p {
  color: var(--text-color);
  font-size: 1.5rem;
  line-height: 5px;
}
.service .section_container .servivcebox .more a {
  color: var(--text-color);
  font-size: 1.3rem;
  margin-left: 1rem;
}
/***********service model***/

.service .service_model {
  position: absolute;
  inset: 0;
  background: var(--background-color);
  opacity: 0.5;
  padding: 2rem;
  display: grid;
  place-items: center;
  z-index: 50;
  transition: 0.4s;
  visibility: hidden;
  opacity: 0;
}
.service .service_model .service_ModelConatent {
  position: relative;
  /* border: 1px solid red; */
  background: var(--body-color);
  padding: 2rem 3rem;
  /* height: 60%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  border-radius: 1.5rem;
  z-index: 100;
  opacity: 1;
}
.service .service_model .service_ModelConatent .close {
  color: var(--white-color);
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  font-size: 3rem;
}
.service .service_model .service_ModelConatent h2 {
  font-size: 2.5rem;
  font-weight: 450;
  padding-bottom: 5px;
  color: var(--text-color2);
}
.service .service_model .service_ModelConatent .prduct_discrip p {
  /* border: 1px solid red; */
  width: 70%;
  margin: auto;
  text-align: center;
  font-size: 1.3rem;
  padding: 5px 0;
  color: var(--text-color);
  margin-bottom: 2rem;
}
.service .service_model .service_ModelConatent .serviceModel_list {
  /* border: 1px solid green; */
  display: grid;
  row-gap: 0.75rem;
}
.service_ModelConatent .serviceModel_list .model_Info {
  display: flex;
  align-items: flex-start;
  column-gap: 0.5rem;
  font-size: 1.6rem;
  color: var(--white-color);
}
.service_ModelConatent .serviceModel_list .model_Info ion-icon {
  font-size: 1.8rem;
  color: var(--text-color);
}

/******************work section************/
.work {
  padding: 5rem 10rem;
  position: relative;
}
.work .work_heading .intro {
  width: fit-content;
  margin: auto;
  text-align: center;
  margin-bottom: 7rem;
}
.work .work_heading .intro h2 {
  font-size: 2.5rem;
  font-weight: 450;
  color: var(--text-color2);
}
.work .work_heading .intro small {
  font-size: 14px;
  margin-bottom: 0.5rem;
  color: var(--secondColor);
}
.work .workContainer {
  /* border: 1px solid #fff; */
}
.work .listContainer .list {
  /* border: 1px solid red; */
  width: fit-content;
  margin: auto;
  margin-bottom: 5rem;
}
.work .listContainer .list .lists {
  display: inline-block;
  color: var(--white-color);
  text-align: center;
  margin: 0 2rem;
  font-size: 2rem;
  font-weight: 450;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  text-align: center;
}
.work .activeMode {
  background: var(--text-color);
}
.work .workContainer {
  /* border: 1px solid #fff; */
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  padding: 2rem 4rem;
}
.work .workContainer .works_card {
  padding: 2rem 2rem 1rem 3rem;
  background: var(--background-color);
  border-radius: 1.5rem;
  width: 100%;
}

.work .workContainer .works_card img {
  width: 90%;
  object-fit: cover;
  border-radius: 1.5rem;
}
.work .workContainer .works_card h3 {
  color: var(--text-color2);
  padding: 2rem 0;
  font-size: 1.5rem;
}
.work .workContainer .works_card a {
  color: var(--text-color);
  font-size: 1.2rem;
}
.work .workContainer .works_card a ion-icon {
  font-size: 1.1rem;
}
/******************CONTACT SECTION****************/
.contact {
  padding: 5rem 10rem;
  position: relative;
}
.contact .contact_heading .intro {
  width: fit-content;
  margin: auto;
  text-align: center;
  margin-bottom: 7rem;
}
.contact .contact_heading .intro h2 {
  font-size: 2.5rem;
  font-weight: 450;
  color: var(--text-color2);
}
.contact .contact_heading .intro small {
  font-size: 14px;
  margin-bottom: 0.5rem;
  color: var(--secondColor);
}
.contact .contactContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  column-gap: 2rem;
}
.contact .contactContainer .leftsideContact {
  /* border: 1px solid red; */
  padding: 2rem 3rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
}
.contact .contactContainer .leftsideContact .C_Title h2 {
  text-align: center;
  color: var(--white-color);
  font-size: 2rem;
  font-weight: 450;
}
.contact .contactContainer .leftsideContact h2 {
  text-align: center;
  color: var(--white-color);
  font-weight: 450;
  font-size: 2rem;
}

.contact .contactContainer .leftsideContact .box {
  /* border: 1px solid #008000; */
  text-align: center;
  padding: 2rem 7rem;
  background: var(--background-color);
  border-radius: 1.5rem;
}
.contact .contactContainer .leftsideContact .box .i {
  color: var(--white-color);
  font-size: 2.5rem;
}
.contact .contactContainer .leftsideContact .box h3 {
  color: var(--text-color2);
  font-size: 1.5rem;
  font-weight: 450;
}
.contact .contactContainer .leftsideContact .box p {
  color: var(--secondColor);
  font-size: 1.3rem;
  padding-bottom: 1.2rem;
}
.contact .contactContainer .leftsideContact .box a {
  color: var(--text-color2);
  font-size: 1.3rem;
  text-align: center;
  display: flex;
  justify-content: center;
}
.contact .contactContainer .leftsideContact .box a span {
  font-size: 1.5rem;
  margin-left: 1rem;
}
/****************rightside*************/
.contact .contactContainer .rightsideForm {
  padding: 2rem 1rem;
  display: grid;
  width: 40rem;
  transform: translateY(-1.2rem);
  position: relative;
}
.contact .contactContainer .rightsideForm .C_Title h2 {
  text-align: center;
  color: var(--white-color);
  font-size: 2rem;
  font-weight: 450;
}

.contact .contactContainer .rightsideForm .form_Box {
  margin: 1.3rem 0 2.6rem;
  width: 30rem;
  display: grid;
  /* grid-template-columns: 1fr; */
  row-gap: 3rem;
  align-items: center;
  margin: auto;
}
.contact .contactContainer .rightsideForm .form_Box input {
  display: block;
  background: transparent;
  outline: 0;
  border: 0;
  width: 100%;
  border: 1px solid var(--white-color);
  padding: 2rem 1rem;
  border-radius: 1.5rem;
}

.contact .contactContainer .rightsideForm .form_Box textarea {
  position: relative;
  display: block;
  background: transparent;
  outline: 0;
  border: 0;
  width: 100%;
  border: 1px solid var(--white-color);
  padding: 2rem 1rem;
  border-radius: 1.5rem;
  resize: none;
  color: var(--white-color);
}

.contact .contactContainer .rightsideForm .form_Box .form-label1 {
  position: absolute;
  color: var(--white-color);
  top: 7rem;
  left: 7rem;
  background: var(--body-color);
  font-size: 1rem;
  padding: 0.5rem;
}
.contact .contactContainer .rightsideForm .form_Box .form-label2 {
  position: absolute;
  color: var(--white-color);
  top: 15.8rem;
  left: 7rem;
  background: var(--body-color);
  font-size: 1rem;
  padding: 0.5rem;
}
.contact .contactContainer .rightsideForm .form_Box .form-label3 {
  position: absolute;
  color: var(--white-color);
  top: 24.5rem;
  left: 7rem;
  background: var(--body-color);
  font-size: 1rem;
  padding: 0.5rem;
}
/*********** button*********/
.contact .contactContainer .rightsideForm .form_Box a {
  width: 50%;
  padding: 1rem 2rem;
  background: var(--text-color);
  color: var(--body-color);
  font-size: 1.5rem;
  border-radius: 1.2rem;
}

/******************footer section****************/

.footer {
  padding: 12rem 10rem;
  position: relative;
  background: var(--text-color);
}
.footer .footerContainer {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}
.footer .footerContainer h2 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}
.footer .footerContainer .footer_work ul {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  margin-bottom: 2rem;
}
.footer .footerContainer .footer_work ul a {
  font-size: 1.5rem;
  font-weight: 500;
}
.footer .footerContainer .footerIcon ul {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  margin-bottom: 2rem;
}
.footer .footerContainer .footerIcon ul a {
  font-size: 2rem;
  font-weight: 500;
  padding: 4px;
  width: 30px;
  height: 30px;
  text-align: center;
  margin: auto;
  background: var(--body-color);
  color: var(--text-color);
  border-radius: 1rem;
}
.footer .copyDis {
  margin: auto;
  font-size: 1.2rem;
  width: fit-content;
  padding-top: 3rem;
  color: var(--body-color);
  font-weight: 600;
}

/******************MEDIA QUERY ********************/
@media (max-width: 480px) {
  html {
    font-size: 40%;
  }
  .header nav h2 {
    font-size: 3rem;
  }
  .header nav .icon {
    font-size: 2.5rem;
  }
  .header nav {
    width: 95%;
  }
  .header nav .navMenu {
    width: 90%;
    left: 2rem;
    bottom: 5rem;
    padding: 2rem 4rem;
  }
  .header nav .navMenu ul li a {
    font-size: 3.5rem;
  }
  .home .homeContainer {
    /* border: 1px solid red; */
    width: 100%;
    padding: 0 3rem;
  }
  .home .homeContainer .text {
    width: 100%;
  }
  .home .homeContainer .text small {
    margin-bottom: 1.3rem;
  }
  .home .homeContainer .text h1 {
    font-size: 6.5rem;
  }
  .home .homeContainer .text p {
    font-size: 1.8rem;
  }
  .home .homeContainer .button {
    margin-top: 12rem;
  }
  .home .homeContainer .button a {
    font-size: 2.6rem;
    padding: 3rem;
    border-radius: 0.9rem;
  }
  .home .socilLinks {
    left: 2rem;
    bottom: 20rem;
  }
  .home .socilLinks a {
    font-size: 2.5rem;
  }
  .home .homeContainer .myPic {
    /* border: 1px solid red; */
    width: 80%;
  }
  .home .homeContainer {
    /* border: 1px solid red; */

    gap: 10rem;
  }

  .about {
    padding: 5rem 1rem;
  }
  .about .about_heading {
    margin-bottom: 2rem;
  }
  .about .about_container {
    width: 100%;
    flex-flow: column;
    gap: 3rem;
    padding: 0;
  }
  .about .about_container .image_side {
    width: 30rem;
    padding: 1rem;
  }
  .about .about_container .discrip_side {
    width: 100%;
    align-items: center;
  }
  .about .about_container .discrip_side .boxes {
    margin-bottom: 4rem;
  }
  .about .about_container .discrip_side .boxes .box {
    height: 10rem;
    width: 16rem;
  }
  .about .about_container .discrip_side .boxes .box .icon {
    font-size: 2.5rem;
  }
  .about .about_container .discrip_side .boxes .box .discrip h3 {
    font-size: 1.6rem;
  }
  .about .about_container .discrip_side .boxes .box .discrip p {
    font-size: 1.2rem;
  }

  .about .about_container .discrip_side .discrip_line {
    width: 90%;
  }

  .about .about_container .discrip_side .discrip_line p {
    font-size: 2rem;
    text-align: center;
    line-height: 2.6rem;
  }
  .about .about_container .discrip_side .discrip_line {
    margin-bottom: 3rem;
  }
  .skill {
    padding: 5rem;
  }
  .skill .skill_heading {
    margin-bottom: 5rem;
  }
  .skill .skill_container {
    width: 100%;
  }
  .skill .skill_container {
    flex-flow: column;
    row-gap: 5rem;
  }
  .skill .skill_container .sideBox {
    /* border: 1px solid #fff; */
    width: 95%;
    height: 40rem;
  }
  .skill .skill_container .sideBox .boxContainer {
    width: 100%;
    height: 25rem;
  }
  .skill .skill_container .sideBox .heading h2 {
    font-size: 2.6rem;
  }
  .skill .skill_container .sideBox .box span {
    font-size: 1.8rem;
  }
  .skill .skill_container .sideBox .box .info h2 {
    font-size: 2.5rem;
    font-weight: 450;
  }
  .skill .skill_container .sideBox .box .info small {
    font-size: 8px;
  }
  .service {
    padding: 5rem 2rem;
  }
  .service .section_container {
    /* border: 1px solid red; */
    width: 90%;
    align-items: flex-start;
    height: 55vh;
    flex-wrap: wrap;
    /* flex-flow: column; */
  }
  .service .section_container .servivcebox {
    /* border: 1px solid green; */
    height: 20vh;
    width: 45%;
  }
  .service .service_model .service_ModelConatent {
    position: relative;
    /* border: 1px solid red; */
    padding: 2rem;
    height: 50%;
  }
  .service .service_model .service_ModelConatent .close {
    color: var(--white-color);
    position: absolute;
    right: 2.1rem;
    top: 2rem;
    font-size: 3rem;
  }
  .service .service_model .service_ModelConatent h2 {
    font-size: 4rem;
  }
  .service .service_model .service_ModelConatent .prduct_discrip p {
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 1.6rem;
    color: var(--text-color);
    margin-bottom: 2rem;
  }
  .service .service_model .service_ModelConatent .serviceModel_list {
    /* border: 1px solid green; */

    row-gap: 2rem;
  }
  .service_ModelConatent .serviceModel_list .model_Info {
    column-gap: 0.57rem;
    font-size: 1.8rem;
  }
  .service_ModelConatent .serviceModel_list .model_Info ion-icon {
    font-size: 1.9rem;
  }
  .service .section_container .servivcebox h1 {
    /* border: 1px solid red; */

    font-size: 3rem;
  }
  .work {
    padding: 5rem 1rem;
  }
  .work .listContainer .list {
    /* border: 1px solid red; */
    width: 100%;
    text-align: center;
  }
  .work .listContainer .list .lists {
    font-size: 2.5rem;
  }
  .work .workContainer {
    /* border: 1px solid #fff; */
    width: 100%;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    padding: 2rem 3rem;
  }
  .work .workContainer .works_card h3 {
    font-size: 2rem;
  }
  .work .workContainer .works_card a {
    font-size: 1.5rem;
  }
  .contact {
    padding: 5rem 2rem;
  }
  .contact .contactContainer {
    flex-flow: column wrap;

    row-gap: 2rem;
  }
  .contact .contactContainer .leftsideContact {
    /* border: 1px solid red; */
    padding: 2rem;
    width: 95%;
  }
  .contact .contactContainer .leftsideContact .box {
    /* border: 1px solid #008000; */
    text-align: center;
    padding: 2rem;

    background: var(--background-color);
    border-radius: 1.5rem;
  }
  .contact .contactContainer .leftsideContact .C_Title h2 {
    font-size: 2.6rem;
  }
  .contact .contactContainer .leftsideContact .box .i {
    font-size: 2.9rem;
  }
  .contact .contactContainer .leftsideContact .box h3 {
    font-size: 1.8rem;
  }
  .contact .contactContainer .leftsideContact .box p {
    font-size: 1.4rem;
  }
  .contact .contactContainer .leftsideContact .box a {
    font-size: 2rem;
  }
  .contact .contactContainer .leftsideContact .box a span {
    font-size: 2.5rem;
  }
  .contact .contactContainer .rightsideForm {
    width: 48rem;
  }
  .contact .contactContainer .rightsideForm .form_Box {
    width: 100%;
    display: grid;
    /* grid-template-columns: 1fr; */
    row-gap: 3rem;
    align-items: center;
    margin: auto;
  }
  .contact .contactContainer .rightsideForm .C_Title h2 {
    font-size: 2.6rem;
  }
  .contact .contactContainer .rightsideForm .form_Box .form-label1 {
    top: 7.5rem;
    left: 3rem;
    font-size: 1.3rem;
  }
  .contact .contactContainer .rightsideForm .form_Box .form-label2 {
    top: 17.5rem;
    left: 3rem;
    font-size: 1.3rem;
  }
  .contact .contactContainer .rightsideForm .form_Box .form-label3 {
    top: 27rem;
    left: 3rem;
    font-size: 1.3rem;
  }
  .footer {
    padding: 10rem 2rem;
  }
  .footer .footerContainer .footerIcon ul {
    column-gap: 4rem;
  }
  .footer .footerContainer .footerIcon ul a {
    font-size: 2.5rem;
    padding: 3px;
    width: 25px;
    height: 25px;
  }
  .footer .footerContainer .footer_work ul {
    /* border: 1px solid gray; */
    column-gap: 5rem;
  }
  .footer .footerContainer .footer_work ul a {
    font-size: 2.5rem;
    font-weight: 450;
    column-gap: 3.5rem;
  }
  .footer .copyDis {
    font-size: 1.6rem;
  }
}
